{% extends 'base.html' %}

{% block content%}

<form action="" method="post">
    <div class="row mb-3">
        <label for="inputLogin" class="col-sm-2 col-form-label">Введите старый пароль</label>
        <div class="col-sm-10 input-group has-validation">
            <input type="password"
                class="form-control {% if errors.get('old') %}is-invalid{% endif %} 
                {% if request.method == 'POST' and not errors.get('old') %}is-valid{% endif %}"
                id="oldPassword" name="oldPassword" value="{{ old or '' }}"
                aria-describedby="inputGroupPrepend3 validationOldFeedback">
            {% if errors.get("old") %}
            <div id="validationOldFeedback" class="invalid-feedback">
                {{ errors.get("old") }}
            </div>
            {% endif %}
            {% if request.method == 'POST' and not errors.get("old") %}
            <div class="valid-feedback">
                Всё правильно!
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Введите новый пароль</label>
        <div class="col-sm-10 input-group has-validation">
            <input type="password"
                class="form-control 
                {% if errors.get('password') %}is-invalid{% endif %} 
                {% if request.method == 'POST' and not errors.get('password') %}is-valid{% endif %}"
                id="newPassword" name="newPassword" value="{{ new or '' }}"
                aria-describedby="inputGroupPrepend3 validationPasswordFeedback">
            {% if errors.get("password") %}
            <div id="validationPasswordFeedback" class="invalid-feedback">
                {{ errors.get("password") }}
            </div>
            {% endif %}
            {% if request.method == 'POST' and not errors.get("password") %}
            <div class="valid-feedback">
                Всё правильно!
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFirstName" class="col-sm-2 col-form-label">Подтвердите новый пароль</label>
        <div class="col-sm-10 input-group has-validation">
                <input type="password"
                class="form-control 
                {% if errors.get('repeate') %}is-invalid{% endif %} 
                {% if request.method == 'POST' and not errors.get('repeate') %}is-valid{% endif %}"
                id="repeateNewPassword" name="repeateNewPassword" value=""
                aria-describedby="inputGroupPrepend3 validationNewPasswordFeedback">
            {% if errors.get("repeate") %}
            <div id="validationNewPasswordFeedback" class="invalid-feedback">
                {{ errors.get("repeate") }}
            </div>
            {% endif %}
            {% if request.method == 'POST' and not errors.get("repeate") %}
            <div class="valid-feedback">
                Всё правильно!
            </div>
            {% endif %}

        </div>
    </div>

    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>

{% endblock %}